# Requisitos de librerías para la App de Contabilidad SynthWave

ast
asyncio
cProfile
cgitb
email
faulthandler
fileinput
functools
importlib.resources
lib2to3.pgen2.token
msilib.schema
multiprocessing
operator
os
re
select
sre_parse
string
csv
symtable
tarfile
datetime
tkinter
pandas
sqlite3
tkinter.messagebox
tkinter.commondialog
fpdf
locale
tkcalendar
tkinter.font
tkinter.simpledialog
tkinter.filedialog
turtle
types
webbrowser
winreg
wsgiref
xml.dom
xmlrpc.client
